@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sec{
    width: 100%;
    height: 653.5px;
    display: flex;
    flex-direction: row;
}
.con{
    width: 50%;
    height: 653.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[con1]{
    background-color: #28a745;
}
.in-con1{
    width: 88%;
    height: auto;
}
.in-con1 h1{
    color: white;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
[con2]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.first-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mess h1{
    color: #28a745;
    font-family: 'Lobster', cursive;
}
input[type="text"]{
    border: 1px solid #28a745;
    width: 500px;
    height: 50px;
    padding: 20px;
}
#tb:hover{
    border: 2px solid #28a745;
}
#lg{
   border: none;
   background-color: #28a745; 
   color: white;
   text-align: center;
   text-decoration: none;
   width: 200px;
   height: 50px;
   border-radius: 25px;
   font-family: 'Roboto', sans-serif;
}
#lg:hover{
    border: 1px solid #28a745;
    background-color: white;
    color: #28a745;
}
.intro-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hi h1{
    color: #28a745;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
#ta{
    border: none;
    background-color: #28a745; 
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
 }
 #ta:hover{
     border: 1px solid #28a745;
     background-color: white;
     color: #28a745;
 }
[in-con2]{
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[in-con2] h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 40px;
}

.ques-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ques2,
.ques3,
.ques4,
.ques5,
.ques6,
.ques7,
.ques8,
.ques9,
.ques10{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none;
}
.options-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.np-con{
    display: flex;
    justify-content: flex-end;
}
[inner-con]{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#pb1,#pb2,#pb3,#pb4,#pb5,#pb6,#pb7,#pb8,#pb9,#pb10,
#nb1,#nb2,#nb3,#nb4,#nb5,#nb6,#nb7,#nb8,#nb9,
#nb10{
    cursor: pointer;
    border: 1px solid #28a745;
    background-color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #28a745;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}
#pb1,#pb2,#pb3,#pb4,#pb5,#pb6,#pb7,#pb8,#pb9,#pb10,
#nb1,#nb2,#nb3,#nb4,#nb5,#nb6,#nb7,#nb8,#nb9,
#nb10:hover{
    border: none;
    background-color: #28a745;
    color: white;
    transition: all 0.5s ease;
}
#bt{
    cursor: pointer;
    background-color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    width: 500px;
    height: 60px;
    color: #28a745;
    font-size: 25px;
}
#bt:hover{
    border: 1px solid #28a745;
    transition: all 0.5s ease;
}
.bye-page{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hb{
    border: none;
    background-color: #28a745; 
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
 }
 #hb:hover{
     border: 1px solid #28a745;
     background-color: white;
     color: #28a745;
 }
.modal-header{
    background-color: #28a745;
}
.modal-title{
    color: white;
}
.modal-footer{
    background-color: #28a745;
}
@media screen and (max-width: 1000px) {
        .sec{
            flex-direction: column;
        }
        .con{
            width: 100%;
        }
        .in-con1 h1{
            font-size: 40px;
        }
        [con1]{
            height: 400px;
        }
        [con2]{
            border: 1px solid black;
            overflow-y:visible;
            padding-top: 10px;
            height: auto;
        }
        .ques-page{
            padding-top: 10px;
            padding-bottom: 50px;
        }
        #bt{
            width: 200px;
            height: 50px;
        }
    }